<footer class="site">
  <span>&copy; {{ site.founded }} {{ site.name }}&trade;</span>
  <span>Gridiron &amp; Hardwood</span>
  <span><a href="https://x.com/theweeklyrank">{{ site.handle }}</a></span>
</footer>
